<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="sidebar">

    <ul class="navbar-nav bg-dark sidebar sidebar-dark text-white px-3 min-vh-100">

        <li class="nav-item fw-bold mb-4">
            <a class="nav-link" th:href="@{/}">
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/gestionrol/lista}">
                Roles
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/gestionusuario/lista}">
                Usuarios
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/gestioncategoria/lista}">
                Categoría de Platos
            </a>
        </li>

		<li class="nav-item">
            <a class="nav-link" th:href="@{/gestionplato/lista}">
                Platos
            </a>
        </li>
		
		<li class="nav-item">
	        <a class="nav-link" th:href="@{/gestionmesa/lista}">
	            Mesas
	        </a>
	    </li>
		
		<li class="nav-item">
           <a class="nav-link" th:href="@{/gestioncliente/lista}">
               Clientes
           </a>
        </li>
		
		<li class="nav-item">
           <a class="nav-link" th:href="@{/gestionpedido/lista}">
               Pedidos
           </a>
        </li>

		<li class="nav-item">
           <a class="nav-link" th:href="@{/gestioncomprobante/lista}">
               Comprobantes
           </a>
        </li>
		
		<li class="nav-item">
            <a class="nav-link" th:href="@{/reportes/dashboard}">
                <i class="bi bi-bar-chart-line me-2"></i> Reportes
            </a>
        </li>

    </ul>

</div>

</html>
